$dark_blue: rgb(83, 24, 243);

.side-image img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

// body {
// background-image: linear-gradient(
//   360deg,
//   transparent,
//   rgb(234, 241, 235),
//   rgb(47, 56, 49)
// );
// background-repeat: no-repeat;
// }

.header {
  display: flex;
  justify-content: space-between;
  background-color: $dark_blue;
  &__brand__logo {
    img {
      height: 50px;
      width: 100px;
    }
  }
  &__menus {
    display: flex;
    height: 40px;
    .active {
      background-color: yellowgreen;
      color: black;
      border-radius: 6px;
      border: none;
    }
  }
  &__link {
    margin-right: 10px;
    list-style-type: none;
    margin: 10px;
    & a {
      margin-top: 15px;
      font-size: 15px;
      padding: 8px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(187, 197, 243);
    }
  }
}

input[type="submit"] {
  background-color: $dark_blue;
  color: white;
  border: none;
  border-radius: 5px;
}
